<header id="header">

    <div class="containermobile">
        <div class="logo">
            <a routerLink="/home"><img src="../../../assets/img/logo-teamder.png" alt="logo"></a>
        </div>

        <div id="dropdown-mobile" class="dropdown">
            <button (click)="dropdownMobile()" class="dropbtn">
                <i class="fas fa-bars fa-2x"></i>
            </button>
            <div id="dropdown-content-mobile" class="dropdown-content">
                <a routerLink="/about-us" (click)="hideDropdownMobile()">A Propos 
                    <div class="about"><i class="fas fa-users fa-lg"></i></div></a>
                    <a (click)="loginMobile()">{{label}}
                    <div class="log"> <i class="fas fa-user-circle fa-lg"></i></div></a>
                <a *ngIf="connected" routerLink="/chat" (click)="hideDropdownMobile()">Conversation
                    <div class="conv"> <i class="far fa-comments fa-lg"></i></div></a>
            </div>
        </div>
    </div>

    
</header>