#back-color {
  background-color: #171717;
  color: white;
  width: 100%;
}

.block {
  font-family: 'Josefin Sans', sans-serif;
  background-image: url("../../../assets/img/apex-page.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  height: auto;
  left: 0;
  /* Préserve le ratio de l'image */
  min-width: 100%;
  min-height: 100%;
}

h2 {
  margin-top: 10%;
  color: #171717;
  text-transform: uppercase;
  text-align: center;
  width: 95%;
  margin-left: 2%;
}

p {
  text-align: center;
  left: 0;
  right: 0;
  padding: 30px;
  background-image: linear-gradient(to right, rgb(26, 23, 22, 0) 0%, rgb(221, 66, 27) 180%);
  border-radius: 33%;
  width: 100%;
}

.apex-txt {
  width: 100%;
}

.apex-txt p {
  font-size: 18px;
  margin-bottom: 50px;
  color: #171717;
  margin-top: 30px;
}

.button {
  display: flex;
  justify-content: center;
}

.apex-txt a {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
}

a {
  text-decoration: none;
  border: 1px solid black;
  padding: 10px;
  background-color: #AB3531;
  opacity: 80%;
  color: white;
  width: 50%;
  margin: auto;
  border-radius: 32px;
}

