#back-color {
  background-color: #171717;
  color: white;
  width: 100%;
}

.block {
  font-family: 'Josefin Sans', sans-serif;
  background-image: url("../../../assets/img/rocket-page.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  height: auto;
  left: 0;
  /* Préserve le ratio de l'image */
  min-width: 100%;
  min-height: 100%;
}

h2 {
  margin-top: 10%;
  color: white;
  text-transform: uppercase;
  width: 95%;
  text-align: center;
}

p {
  text-align: center;
  left: 0;
  right: 0;
  padding: 30px;
  background-image: linear-gradient(to right, rgb(26, 23, 22, 0) 30%, rgb(50, 121, 78) 190%);
  border-radius: 33%;
  width: 100%;
}

.rl-text {
  width: 100%;
}

.rl-text p {
  font-size: 18px;
  margin-bottom: 50px;
  color: white;
  margin-top: 30px;
}

.rl-text a {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
}

a {
  text-decoration: none;
  border: 1px solid black;
  padding: 10px;
  background-color: #358b60;
  opacity: 80%;
  color: white;
  width: 50%;
  margin: auto;
  border-radius: 32px;
}


