#back-color {
    background-color: #171717;
}

.block {
    font-family: 'Josefin Sans', sans-serif;
    background: #171717;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: auto;
    left: 0;
    /* Préserve le ratio de l'image */
    min-width: 100%;
    min-height: 100%;
    text-transform: capitalize;
}

input {
    width: 100%;
    padding: 4%;
    margin-bottom: 5%;
}

#error p {
    color: white;
}

select {
    padding: 6.5%;
    margin-bottom: 5%;
}

textarea {
    resize: none;
    width: 100%;
    height: 120px;
    margin-bottom: 10%;
    border-radius: 12%;
    padding: 6%; 
}

form {
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background: linear-gradient(rgba(223, 78, 59, 0.493) 20%, rgb(10, 40, 92) 100%);
    border-radius: 12%;
}

.submit {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #171717;
    color: white;
    border: none;
    padding: 3%;
    border-radius: 1rem;
}

label {
    padding: 5px;
    color: white;
}
